<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %></p>
    <p>You have requested to change your password. You can change your password with the below link:</p>
    <p><%= "http://localhost:3000/reset_password?token=#{@user.reset_password_token}" %></p>
    <p>Please ignore this email if this is not your request.</p>
  </body>
</html>
